.Container {
  width: 500px;
  margin: 35px auto;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), -23px 0 40px -23px rgba(0, 0, 0, 0.8),
    23px 0 40px -23px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  padding-top: 15px;
  padding-bottom: 50px;
  position: relative;
}

@media screen and (max-width: 545px) {
  .Container {
    width: 340px;
  }
}

.header {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form > div {
  width: 80%;
  max-width: 500px;
}

.button {
  margin: 0 auto;
  width: 50%;
}

@media screen and (max-width: 545px) {
  .button {
    width: 100%;
    margin-bottom: 10px;
  }
}

.formButtonsContainer {
  display: flex;
}

@media screen and (max-width: 545px) {
  .formButtonsContainer {
    display: block;
  }
}

.required-star {
  color: red;
}

.linkContainer {
  display: block;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}
